.regular-button {
    width: 200px;
    height: 52px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: transparent;
    border: 0.5px solid #A07B50;
}
.regular-button:hover{
    box-shadow: 0 0 15px 1px #A07B50FF inset;
}

.cat-care-button {
    display: block;
    position: relative;
    width: 59px;
    height: 100%;
    background: #A07B50;
    z-index: 1;
}

.cat-care-button:hover{
    box-shadow: 0 0 15px 1px #1F1C1D inset;
}


.cat-care-button:before {
    content: "";
    position: absolute;
    background-image: url("../Images/arrow1.svg");
    height: 16px;
    width: 11px;
    bottom: calc(50% - 8px);
    left: calc(50% - 5px);
    z-index: 2;
}
.arrow-button{
    background-image: url("../Images/brown-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.arrow-button:hover{
    cursor: pointer;
}

.previous-member-button{
    margin: 0 auto 0 auto;
    height: 29px;
    width: 12px;
    top: calc(50% - 15px);
    align-self: center;
}
.next-member-button{
    margin: 0 auto 0 auto;
    height: 29px;
    width: 12px;
    top: calc(50% - 15px);
    transform: rotate(180deg);
    align-self: center;
}
@media (max-width: 1200px) {
    .previous-member-button{
        margin: 0 2px 0 2px;
        order: 2;
        position: relative;
        bottom: -180px;
        right: 360px;
        z-index: 3;
    }
    .next-member-button{
        margin: 0 2px 0 2px;
        order: 4;
        position: relative;
        bottom: -180px;
        right: 60px;
    }
}
@media (max-width: 800px) {
    .previous-member-button{
        top: -80px;
        order: 0;
        left: 40px;
        width: 50px;
    }
    .next-member-button{
        top: -80px;
        right: 40px;
        width: 50px;
        order: 3;
    }
}


.expansion-cell-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.5px solid rgba(160, 123, 80, 0.41);
    color: #A07B50;
}
.expansion-cell-button:hover{
    box-shadow: 0 0 15px 1px #A07B50FF inset;
    cursor: pointer;
}

.expanded-expansion-cell {
    background-color: #A07B50;
    color: #FFFFFF;
}
.expanded-expansion-cell:hover{
    box-shadow: 0 0 15px 1px #1F1C1D inset;
}

.vk {
    width: 13px;
    height: 8px;
}

.twitter {
    width: 15px;
    height: 10px;
}

.facebook {
    width: 10px;
    height: 11px;
}

.footer-vk {
    width: 21px;
    height: 12px;
}

.footer-twitter {
    width: 20px;
    height: 14px;
    margin-right: 9px;
}

.footer-facebook {
    width: 7px;
    height: 14px;
    margin-right: 10px;
}

.feedback-twitter {
    position: relative;
    width: 14px;
    height: 10px;
    top: 5px;
    left: calc(50% - 7px);
}

.feedback-vk {
    position: relative;
    width: 13px;
    height: 8px;
    top: 5px;
    left: calc(50% - 6px);
}

.nav-button {
    margin-right: 26px;
    width: 77px;
    height: 45px;

    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: rgba(255, 255, 255, 0.2);
}
.nav-selected{
    color: #FFFFFF;
}

nav .nav-button:last-child {
    margin-right: 0;
}


